<div class="card mx-md-0 mx-3 my-3">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-10">
                <strong><a href="<%= `/users/${post.user.username}` %>" class="text-secondary"><%= post.user.fullName %></a></strong>
                <% if(loggedIn && currentUser.isFollowing(post.user._id)) { %>
                    <a href="<%= `/users/${post.user.username}/unfollow?_method=POST` %>" class="btn btn-outline-primary btn-sm" role="button">Unfollow</a>
                <% } else if(loggedIn) { %>
                    <a href="<%= `/users/${post.user.username}/follow?_method=POST` %>" class="btn btn-outline-primary btn-sm" role="button">Follow</a>
                <% } %>
                <div>
                    <%= 
                    post.createdAt.toLocaleString(
                        'en-US',
                        {
                            year: 'numeric',
                            month: 'long',
                            day: 'numeric',
                            hour: '2-digit',
                            minute: '2-digit',
                            hour12: true
                        }
                    ) 
                    %>
                </div>
                <p class="card-text">
                    <%= post.postText %>
                </p>
                <% if(post.sharing) { %>
                    <div class="card mx-md-0 mx-3 my-3">
                        <div class="card-body">
                            <strong><a href="<%= `/users/${post.sharing.user.username}` %>" class="text-secondary"><%= post.sharing.user.fullName %></a></strong>
                            <div>
                                <%= 
                                post.sharing.createdAt.toLocaleString(
                                    'en-US',
                                    {
                                        year: 'numeric',
                                        month: 'long',
                                        day: 'numeric',
                                        hour: '2-digit',
                                        minute: '2-digit',
                                        hour12: true
                                    }
                                ) 
                                %>
                            </div>
                            <p class="card-text">
                                <%= post.sharing.postText %>
                            </p>
                            <div class="my-1">
                                <% post.sharing.hashtags.forEach(hashtag => { %>
                                    <a href="<%= `/hashtags/${hashtag}` %>" class="btn btn-outline-secondary btn-sm btn-pill" role="button">#<%= hashtag %></a>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div>
                    <% if (post.likesCount === 1) { %>
                        <span class="text-secondary">1 person likes this</span>
                    <% } else { %>
                        <span class="text-secondary"><%= post.likesCount %> people like this</span>
                    <% } %>
                </div>
                <% if(loggedIn && post.isLikedBy(currentUser._id)) { %>
                    <a href="<%= `/posts/${post._id}/unlike?_method=post` %>" role="button" class="btn btn-primary btn-sm">Unlike</a>
                <% } else { %>
                    <a href="<%= `/posts/${post._id}/like?_method=post` %>" role="button" class="btn btn-primary btn-sm">Like</a>
                <% } %>
                <a href="<%= `/posts/${post._id}/share` %>" role="button" class="btn btn-secondary btn-sm">Share</a>
                <div class="my-1">
                    <% post.hashtags.forEach(hashtag => { %>
                        <a href="<%= `/hashtags/${hashtag}` %>" class="btn btn-outline-secondary btn-sm btn-pill" role="button">#<%= hashtag %></a>
                    <% }); %>
                </div>
            </div>
            <div class="col-xl-2">
                <% if (loggedIn && currentUser.username === post.user.username) {%>
                    <a 
                        class="btn btn-danger float-right"
                        href="<%= `/posts/${post._id}/delete?_method=DELETE` %>"
                        role="button"
                    >Delete</a>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="w-100 col-xl-12">
                <h5>Comments</h5>
                <form id="<%= `form-${post._id}` %>" action="<%= `/posts/${post._id}/comments` %>" method="POST" onsubmit="return replyValidation(event)" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control comment-msg" id="<%= `msg-${post._id}` %>" name="commentText" placeholder="What do you think?" required>
                        <button class="btn btn-outline-primary" type="submit">Reply</button>
                    </div>
                    <div class="mb-3" id="<%= `count-${post._id}` %>">0 / 280 characters</div>
                </form>
                <div class="mx-3">
                    <% post.comments.forEach(comment => { %>
                    <div>
                        <div>
                            <a href="<%= `/users/${comment.user.username}` %>" class="text-secondary"><%= comment.user.fullName %></a>
                            <% if (loggedIn && currentUser.username === comment.user.username) {%>
                                <a 
                                    class="btn btn-danger btn-sm float-right"
                                    href="<%= `/posts/${post._id}/comments/${comment._id}/delete?_method=DELETE` %>"
                                    role="button"
                                >Delete</a>
                            <% } %>
                        </div>
                        <div>
                            <%= comment.commentText %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>