<main>
    <div class="row mx-auto">
        <div class="col-xl-2">
            <!-- Left column, empty for now -->
        </div>
        <div class="col-xl-8">
            <div class="card mx-md-0 mx-3 my-3">
                <div class="row card-body">
                    <div class="col-xl-11">
                        <h4><strong><%= displayUser.fullName %></strong></h4>
                        <h5>
                            <small class="text-muted">
                                <a href="<%= `/users/${displayUser.username}` %>">@<%= displayUser.username %></a>
                            </small>
                        </h5>
                        <div>
                            <%= displayUser.bio %>
                        </div>
                        <div>
                            <%= displayUser.location %>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <% if (loggedIn && displayUser.username === currentUser.username) {%>
                            <a class="btn btn-primary" href="/profile/edit" role="button">Edit</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if (loggedIn && displayUser.username === currentUser.username) {%>
                <div class="card mx-md-0 mx-3 my-3">
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Share something with the world...">
                            <button class="btn btn-outline-primary" type="button">Post</button>
                        </div>
                    </div>
                </div>
            <% } %>
    </div>
</main>