<main>
    <div class="row mx-auto">
        <div class="col-xl-2">
            <!-- Left column, empty for now -->
        </div>
        <div class="col-xl-8">
            <div class="card mx-md-0 mx-3 my-3">
                <div class="row card-body">
                    <div class="col-xl-11">
                        <h4><strong><%= displayUser.fullName %></strong></h4>
                        <h5>
                            <small class="text-muted">
                                <a href="<%= `/users/${displayUser.username}` %>">@<%= displayUser.username %></a>
                            </small>
                        </h5>
                        <div>
                            <%= displayUser.bio %>
                        </div>
                        <div>
                            <%= displayUser.location %>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <% if (loggedIn && displayUser.username === currentUser.username) {%>
                            <a class="btn btn-primary" href="/profile/edit" role="button">Edit</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if (loggedIn && displayUser.username === currentUser.username) {%>
                <div class="card mx-md-0 mx-3 my-3">
                    <div class="card-body">
                        <form action="/posts/create" method="POST" id="newPostForm">
                            <div class="input-group">
                                <input type="text" class="form-control" name="postText" id="txtPostText" placeholder="Share something with the world...">
                                <button class="btn btn-outline-primary" type="submit">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>
            <% posts.forEach(post => { %>
                <div class="card mx-md-0 mx-3 my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-10">
                                <strong><a href="<%= `/users/${post.user.username}` %>" class="text-secondary"><%= post.user.fullName %></a></strong>
                                <% if(loggedIn && currentUser.isFollowing(post.user._id)) { %>
                                    <a href="<%= `/users/${post.user.username}/unfollow?_method=POST` %>" class="btn btn-outline-primary btn-sm">Unfollow</a>
                                <% } else if(loggedIn) { %>
                                    <a href="<%= `/users/${post.user.username}/follow?_method=POST` %>" class="btn btn-outline-primary btn-sm">Follow</a>
                                <% } %>
                                <div>
                                    <%= 
                                    post.createdAt.toLocaleString(
                                        'en-US',
                                        {
                                            year: 'numeric',
                                            month: 'long',
                                            day: 'numeric',
                                            hour: '2-digit',
                                            minute: '2-digit',
                                            hour12: true
                                        }
                                    ) 
                                    %>
                                </div>
                                <p class="card-text">
                                    <%= post.postText %>
                                </p>
                                <div>
                                    <span class="text-secondary">0 people like this</span>
                                </div>
                                <button type="button" class="btn btn-primary btn-sm">Like</button>
                                <button type="button" class="btn btn-secondary btn-sm">Share</button>
                                <div class="my-1">
                                    <% post.hashtags.forEach(hashtag => { %>
                                        <a href="<%= `/hashtags/${hashtag}` %>" class="btn btn-outline-secondary btn-sm btn-pill" role="button">#<%= hashtag %></a>
                                    <% }); %>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <% if (loggedIn && currentUser.username === post.user.username) {%>
                                    <a 
                                        class="btn btn-danger float-right"
                                        href="<%= `/posts/${post._id}/delete?_method=DELETE` %>"
                                        role="button"
                                    >Delete</a>
                                <% } %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="w-100 col-xl-12">
                                <h5>Comments</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="What do you think?">
                                    <button class="btn btn-outline-primary" type="button">Reply</button>
                                </div>
                                <div class="mx-3">
                                    <!-- Comments go here later -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
    </div>
</main>